<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="AuditEntities" connectionString="metadata=res://*/AuditModel.csdl|res://*/AuditModel.ssdl|res://*/AuditModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=BeverageAudit;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <appSettings>
    <add key="RootFolder" value="C:\Users\Kelly.Cline.JAXISSOLUTIONS\Desktop\Mandalay Bay\"/>
  </appSettings>
</configuration>