<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Recipes" providerName="System.Data.SqlClient" connectionString="server=.;Integrated Security=true;database=MarriottIndy;" />
  <add name="RecipeEntities" connectionString="metadata=res://*/DataObjects.RecipeModel.csdl|res://*/DataObjects.RecipeModel.ssdl|res://*/DataObjects.RecipeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=MarriottIndy;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>