<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AppServerAddress" value="http://localhost:49673/AppServer.svc"/>
		<!--<add key="AppServerAddress" value="http://www.lyonsforge.com/PumpServicing/AppServer.svc"/>
		<add key="InfoServerAddress" value="http://www.lyonsforge.com/PumpServicing/InfoServer.svc"/>-->
	</appSettings>
</configuration>