<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TimetrackerData.Properties.Settings.TimetrackerConnectionString"
            connectionString="Data Source=YOUR-727A0A4E7C;Initial Catalog=Timetracker;Persist Security Info=True;User ID=TimeTracker;Password=time"
            providerName="System.Data.SqlClient" />
        <add name="TimetrackerData.Properties.Settings.TimetrackerConnectionString1"
            connectionString="Data Source=HP8000;Initial Catalog=Timetracker;Persist Security Info=True;User ID=TimeTracker;Password=time"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>