<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <client>
            <endpoint name="DataConsumerEndpoint"
                      address="http://localhost:8000/DataProvider"
                      binding="basicHttpBinding"
                      contract="IDataProvider" />
        </client>
    </system.serviceModel>
</configuration>