<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InSyncReports.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <InSyncReports.Properties.Settings>
            <setting name="InSyncReports_svcInSyncReports_ContextItemServiceWSService"
                serializeAs="String">
                <value>http://204.232.156.188:8080/sensornet/services/swItemService</value>
            </setting>
            <setting name="InSyncReports_svcContextService_ContextReportServiceWSService"
                serializeAs="String">
                <value>http://204.232.156.188:8080/sensornet/services/swContextService</value>
            </setting>
        </InSyncReports.Properties.Settings>
    </applicationSettings>
</configuration>