<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ValidationEngine.Properties.Settings.DBConn" connectionString="Data Source=C:\Source\Jaxis\trunk\RFID\ValidationEngine\CustomerData.sdf;Persist Security Info=False;" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup></configuration>
