<?xml version="1.0" encoding="utf-8" ?>
<!-- This whole config file is only required by the T4 generator -->
<configuration>
	<system.web>
		<compilation debug="true" />
	</system.web>
	<connectionStrings>
		<add name="PumpServicing" providerName="System.Data.SqlClient" connectionString="server=.;Integrated Security=true;Initial Catalog=PSRT_2008_004;"/>
	</connectionStrings>
</configuration>