<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <appSettings>
    <add key="ConfigFile" value="Device.xml" />
    <add key="EnableWCFConfigService" value="true" />
    <!--
    <add key="EnableWCFConfigVersionService" value="true"/>
    <add key="EnableWCFConfigVersionInterval" value="1"/>
    <add key="EngineServiceAddress" value="http://localhost:8732/Design_Time_Addresses/EngineConfigWCF/EngineConfigService/"/>
    -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <!-- SQL Server -->
    <add name="BeverageMonitor" providerName="System.Data.SqlClient" connectionString="server=.\SQL2012;Integrated Security=true;database=RenAix;" />
    <!--<add name="BeverageMonitor" providerName="System.Data.SqlClient" connectionString="server=.;Integrated Security=true;database=HyattNewYork;" /-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IPourEngineService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="UnsecuredBinding_IPourEngineService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
      <customBinding>
        <binding name="UnsecuredBinding_IPourEngineServiceMtom">
          <mtomMessageEncoding messageVersion="Soap11"></mtomMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="2147483647" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8223/HostWCFService/PourEngineService/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPourEngineService" contract="PourDataService.IPourEngineService" name="BeverageManager">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint name="PourEngineService" address="http://localhost:5050/processzone/services/PourEngineService/" binding="customBinding" bindingConfiguration="UnsecuredBinding_IPourEngineServiceMtom" contract="HostWCFServiceReference.IPourEngineService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8732/EngineConfigVersionWCF/ConfigVersionService1/" binding="wsHttpBinding" bindingConfiguration="UnsecuredBinding_IPourEngineService" contract="EngineConfigVersionWCFServiceReference.IConfigVersionService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8989/EngineConfigWCF/EngineConfigService/" binding="wsHttpBinding" bindingConfiguration="UnsecuredBinding_IPourEngineService" contract="svcEngineConfig.IEngineConfigService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
    <services>
      <service name="Jaxis.BeverageManagement.Plugin.BeverageManagementAPI">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8787/BeverageManagementAPI/" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="Jaxis.BeverageManagement.Plugin.IBeverageManagementAPI">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
      <service name="Jaxis.Reader.POS.POSClientInterface">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8765/POSClientInterface/" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="wsHttpBinding" contract="Jaxis.Reader.POS.IPOSClientInterface">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="ClientWCFService.PourEngineConfig">
        <endpoint address="" binding="customBinding" bindingConfiguration="UnsecuredBinding_IPourEngineServiceMtom" contract="ClientWCFService.IPourEngineConfig">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8888/ClientWCFService/PourEngineConfig/" />
          </baseAddresses>
        </host>
      </service>
      <service name="EngineConfigWCF.EngineConfigService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="UnsecuredBinding_IPourEngineService" contract="EngineConfigWCF.IEngineConfigService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8989/EngineConfigWCF/EngineConfigService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <log4net>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level - %message %newline" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level - %message %newline" />
      </layout>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="Snapper.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10000KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level - %message%newline" />
      </layout>
    </appender>
    <appender name="POSReader" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="POSReader.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10000KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level - %message%newline" />
      </layout>
    </appender>
    <appender name="IdentecDetachPlugin" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="IdentecDetachPlugin.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10000KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level - %message%newline" />
      </layout>
    </appender>
    <appender name="IdentecAttach" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="IdentecAttach.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10000KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="TraceAppender" />
      <appender-ref ref="RollingFile" />
      <appender-ref ref="ConsoleAppender" />
    </root>
    <logger additivity="false" name="POSReader">
      <level value="DEBUG" />
      <appender-ref ref="POSReader" />
    </logger>
    <logger additivity="false" name="IdentecDetachPlugin">
      <level value="DEBUG" />
      <appender-ref ref="IdentecDetachPlugin" />
    </logger>
    <logger additivity="false" name="IdentecAttach">
      <level value="DEBUG" />
      <appender-ref ref="IdentecAttach" />
    </logger>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=(localdb)\v12.0; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>