@{
    ViewBag.Title = "Recipe Manager";
}

<table class="layout">
    <tr>
        <td class="layoutleft">
            <div class="navbarbody">
                <h1>Recipes</h1>
                <select id="recipeList" size="5">
                </select>
                <div class="buttonPanel">
                    <input type="button" id="newRecipe" value="New" />
                </div>
            </div>
        </td>
        <td class="layoutright">
            <div class="viewbody">
                <h1>Update Recipe</h1>
                <div class="viewsection">
                    <h2>Recipe Information</h2>
                        
                    <div class="editor-label">
                        Name
                    </div>
                    <div class="editor-field">
                        <input type="text" />
                    </div>
                    
                    
                </div>
            </div>
        </td>
    </tr>    
</table>
