<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
	<bindings>
	<netTcpBinding>
		<binding name="UnsecuredBindingTCP" transferMode="StreamedResponse" maxReceivedMessageSize="10067108864"
				closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" maxBufferSize="500">
			<security mode="None" />
		</binding>
	</netTcpBinding>
     <wsHttpBinding>
         <binding name="UnsecuredBinding">
             <security mode="None">
                 <transport clientCredentialType="None" realm="" />
             </security>
         </binding>

		 <binding name="WSHttpBinding_IPourEngineService" closeTimeout="00:01:00"
             openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
             bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
             maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
             messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
             allowCookies="false">
             <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                 maxBytesPerRead="4096" maxNameTableCharCount="16384" />
             <reliableSession ordered="true" inactivityTimeout="00:10:00"
                 enabled="false" />
             <security mode="Message">
                 <transport clientCredentialType="Windows" proxyCredentialType="None"
                     realm="" />
                 <message clientCredentialType="Windows" negotiateServiceCredential="true"
                     algorithmSuite="Default" />
             </security>
         </binding>
     </wsHttpBinding>
 </bindings>
		<client>
      <endpoint address="http://192.168.236.21:7999/PourEngineConfig/"
          binding="wsHttpBinding" bindingConfiguration="UnsecuredBinding"
          contract="svcPour.IPourEngineConfig" name="WSHttpBinding_IPourEngineConfig">
          <identity>
              <dns value="localhost" />
          </identity>
      </endpoint>
      <endpoint address="net.tcp://61.12.11.117:8080/PourEngineService/"
          binding="netTcpBinding" bindingConfiguration="UnsecuredBindingTCP"
          contract="svcPourEngineService.IPourEngineService" name="WSHttpBinding_IPourEngineService">
          <identity>
              <dns value="localhost" />
          </identity>
      </endpoint>
  </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup></configuration>
