<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<connectionStrings><add name="ContactData.Properties.Settings.SecureRiskConnectionString" connectionString="Data Source=.;Initial Catalog=SecureRisk;Integrated Security=True" providerName="System.Data.SqlClient" />
<add name="SecureRiskEntities" connectionString="metadata=res://*/DataObjectsADO.csdl|res://*/DataObjectsADO.ssdl|res://*/DataObjectsADO.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=SecureRisk;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /><add name="SecureRiskEntities1" connectionString="metadata=res://*/DataObjectsADO.csdl|res://*/DataObjectsADO.ssdl|res://*/DataObjectsADO.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=SecureRisk;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>