<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LogViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LogViewer.Properties.Settings>
            <setting name="FileSearchPattern" serializeAs="String">
                <value>*.txt</value>
            </setting>
            <setting name="ApplicationTitle" serializeAs="String">
                <value>Jaxis Log Viewer</value>
            </setting>
            <setting name="LogLineRegex" serializeAs="String">
                <value>(\d\d\d\d-\d\d-\d\d \d\d:\d\d:\d\d,\d\d\d) (.{5}) \[(.{5})] - (.*)</value>
            </setting>
        </LogViewer.Properties.Settings>
    </userSettings>
</configuration>