<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="LocalData" connectionString="Data Source=.\;Integrated Security=true;Initial Catalog=PSRT_2008_006_CLIENT;Connection Timeout=201" />
	</connectionStrings>

  <appSettings>
    <add key="Server" value="http://localhost:49673/AppServer.svc"/>
    <add key="Location" value="Test Location"/>
  </appSettings>
	<!--<system.diagnostics>
		<trace autoflush="true" />
		<sources>
			<source name="System.ServiceModel"
                    switchValue="Information, ActivityTracing, Verbose"
                    propagateActivity="true">
				<listeners>
					<add name="sdt"
						type="System.Diagnostics.XmlWriterTraceListener"
						initializeData= "SdrConfigExample.e2e" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>-->
</configuration>