body {
	background-color: #717278;
}
.top {
	background-image: url(images/index_01.jpg);
	vertical-align: top;
	height: 78px;
	width: 954px;
}
.topnav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	padding-top: 40px;
	text-align: right;
	padding-right: 10px;
}
.topnav a:link {
color: #FFFFFF;
text-decoration: none;
}
.topnav a:visited {
color: #FFFFFF;
text-decoration: none;
}
.topnav a:hover {
	color: #F4AC1A;
	text-decoration: none;
}
.topnav a:active {
color: #FFFFFF;
text-decoration: none;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #1f185f;
	padding-bottom: 0px;
	margin-bottom: 10px;
}
h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 3px;
	margin-left: 0px;
}
p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 8px;
	margin-left: 0px;
}
.index-content {
	vertical-align: top;
	height: 250px;
	width: 450px;
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
}
.index-content-a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	vertical-align: top;
	padding-top: 1px;
	padding-right: 24px;
	padding-left: 24px;
	line-height: 22px;
}
.index-13 {
	background-image: url(images/index_13.jpg);
	height: 122px;
	width: 332px;
	vertical-align: top;
}
.index-13a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	padding-top: 20px;
	padding-right: 24px;
	padding-left: 110px;
	line-height: 16px;
}
.index-13a a:link {
color: #F4AC1A;
text-decoration: none;
}
.index-13a a:visited {
color: #F4AC1A;
text-decoration: none;
}
.index-13a a:hover {
color: #FFFFFF;
text-decoration: none;
}
.index-13a a:active {
color: #F4AC1A;
text-decoration: none;
}
.index-14 {
	background-image: url(images/index_14.jpg);
	height: 122px;
	width: 335px;
	vertical-align: top;
}
.index-15 {
	background-image: url(images/index_15.jpg);
	height: 122px;
	width: 287px;
	vertical-align: top;
}
.index-15 {
	background-image: url(images/index_15.jpg);
	height: 122px;
	width: 287px;
	vertical-align: top;
}
.index-14a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	padding-top: 20px;
	padding-right: 24px;
	padding-left: 100px;
	line-height: 16px;
}
.index-14a a:link {
color: #F4AC1A;
text-decoration: none;
}
.index-14a a:visited {
color: #F4AC1A;
text-decoration: none;
}
.index-14a a:hover {
color: #FFFFFF;
text-decoration: none;
}
.index-14a a:active {
color: #F4AC1A;
text-decoration: none;
}
.index-15a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	padding-top: 26px;
	padding-right: 24px;
	padding-left: 100px;
	line-height: 16px;
	font-weight: bold;
	text-align: right;
}
.index-15a a:link {
color: #FFFFFF;
text-decoration: none;
}
.index-15a a:visited {
color: #FFFFFF;
text-decoration: none;
}
.index-15a a:hover {
color: #F4AC1A;
text-decoration: none;
}
.index-15a a:active {
color: #FFFFFF;
text-decoration: none;
}
.copyright {
	padding: 5px;
	height: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: right;
}
.copyright a:link {
	color: #000000;
	text-decoration: none;
}
.copyright a:visited {
	color: #000000;
	text-decoration: none;
}
.copyright a:hover {
	color: #FFFFFF;
	text-decoration: none;
}
.copyright a:active {
	color: #000000;
	text-decoration: none;
}
.subcontent {
	background-color: #FFFFFF;
	height: 402px;
	width: 954px;
	vertical-align: top;
}
.c1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	margin-top: 20px;
	margin-right: 70px;
	margin-bottom: 30px;
	margin-left: 70px;
}
