<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <!-- SQL Server -->
        <!--add name="PumpServicing" providerName="System.Data.SqlClient" connectionString="server=.\SQLEXPRESS;Integrated Security=true;database=PumpServicingDev;"/-->

      <!-- <add name="beveragemonitor" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Database=beveragemonitor;Uid=root;Pwd=x10rocket;" /> -->
      <add name="BeverageMonitor" providerName="System.Data.SqlClient" connectionString="server=.;Integrated Security=true;database=BeverageMonitor;" />
    </connectionStrings>

</configuration>