<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <services>
            <service name="DataProvider.DataProvider">
                <host>
                    <!--"This is the base address for our service; each endpoint will access a specific address"-->
                    <baseAddresses>
                        <add baseAddress="http://localhost:8000"/>
                    </baseAddresses>
                </host>
                <endpoint address="/DataProvider" binding="basicHttpBinding" contract="DataProvider.IDataProvider" />
            </service>
        </services>
    </system.serviceModel>
</configuration>