<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Level2Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    
    <applicationSettings>
        <Level2Service.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=(local);Initial Catalog=Level2;Integrated Security=SSPI</value>
            </setting>
            <setting name="SmtpHost" serializeAs="String">
                <value>smtp.server.com</value>
            </setting>
            <setting name="SmtpPort" serializeAs="String">
                <value>9000</value>
            </setting>
        </Level2Service.Properties.Settings>
    </applicationSettings>

    <log4net>
        <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date %-5level - %message %newline" />
            </layout>
        </appender>
        <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
            <file value="Level2Errors.txt" />
            <appendToFile value="true" />
            <rollingStyle value="Size" />
            <maxSizeRollBackups value="5" />
            <maximumFileSize value="10000KB" />
            <staticLogFileName value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date %level - %message%newline" />
            </layout>
        </appender>
        <root>
            <level value="DEBUG" />
            <appender-ref ref="TraceAppender" />
            <appender-ref ref="RollingFile" />
            <appender-ref ref="RollingFileAppender" />
        </root>
    </log4net>
</configuration>