<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DrinkReporting" providerName="System.Data.SqlClient" connectionString="server=.;Integrated Security=true;database=DrinkReporting;" />
    <!--<add name="DrinkReporting" providerName="System.Data.SqlClient" connectionString="Test"/>-->
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
