<?xml version="1.0" encoding="utf-8" ?>
<!-- THIS CONFIG FILE IS ONLY NECESSARY FOR THE T4 SCRIPTS -->
<configuration>
	<connectionStrings>
		<add name="PumpServicing" providerName="System.Data.SqlClient" connectionString="server=.;Integrated Security=true;Initial Catalog=PSRT_2008_006;"/>
	</connectionStrings>
</configuration>